IBM_BLUEMIX_NODE-RED_FLOWS.json
[{"id":"bf1e0917.beb7e8","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/dashboard","method":"get","swaggerDoc":"","x":86,"y":35,"wires":[["66d98cf1.961424"]]},{"id":"66d98cf1.961424","type":"template","z":"ea55f4d.42f9408","name":"format page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\"> \n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>IoT Dashboard</title>\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n\n    <!-- jQuery library -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n\n    <!-- Latest compiled JavaScript -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n              <script src=\"https://use.fontawesome.com/ab76c11397.js\"></script>\n        <link href=\"https://afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n\n\n        <style>\n            body{\n                background-color: #42f495;\n            }\n            #tile1, #tile2, #tile3, #tile4{\n                height: 250px;\n                \n                border-left: 2px solid white;\n                border-bottom: 2px solid white;\n                border-top: 2px solid white;\n                display: table;\n            }\n            #tile1{\n                background-color: #0099ff;    \n                color:white;       \n            }\n            \n            #tile2{\n                background-color: #990000;     \n                color:black;\n            }\n            \n            #tile3{\n                background-color: #009933;   \n                color: black; \n            }\n            \n            #tile4{\n                background-color: #0099ff;    \n                color:white;         \n            }\n            \n            #tile5{\n                border-top: 2px solid white;\n                background-color: #e51041;    \n                color:white;  \n                height: 100px;\n                display: table;\n            }\n            \n            #tile6{\n                border-bottom: 2px solid white;\n                background-color: #e51041;    \n                color:white;  \n                height: 100px;\n                display: table;\n            }\n            \n            #tile7{\n                border-bottom: 2px solid white;\n                border-left: 2px solid white;\n                background-color: #42f49e;    \n                color:black;  \n                height: 100px;\n                display: table;\n            }\n            \n            #tileText5{\n                display: table-cell;   \n                vertical-align: middle; \n                text-align: center;\n                height: 100px;\n                width: 100%;\n                \n                font-weight: bold;\n                margin-left: auto;\n                margin-right: auto;\n                font-size: 18px;\n            }\n            #tileText{                \n                display: table-cell;   \n                vertical-align: middle; \n                text-align: center;\n                height: 250px;\n                width: 100%;\n                \n                font-weight: bold;\n                margin-left: auto;\n                margin-right: auto;\n                font-size: 18px;\n            }\n            \n            #emoji{\n                font-size: 50px;\n            }\n            \n            #data{\n                font-size: 28px;\n            }\n            \n            #timeDateInput{\n                padding-left: 25px;\n                padding-right: 25px; \n                padding-top: 15px;\n            }\n            \n            #hourFrom, #dateMoveInputFrom, #minutes, #dateMoveInputTo, #hourTo, #minutesTo{\n                border-radius: 0;\n                border: 2px solid black;\n                background-color: transparent;\n                font-weight: bold;\n                color: black;\n            }\n            \n            #addOn{\n                border-top: 2px solid black;\n                border-bottom: 2px solid black;\n                color: black;\n                background-color: transparent;\n                \n            }\n        </style>\n  </head>\n    <body>\n        <div class=\"row\" id=\"timeDateInput\" style=\"display:none;\">\n            <div class=\"col-xs-6\">\n                <input type='date' class='form-control'  id='dateMoveInputFrom' name='dateInputFrom' onchange=\"getDbData()\"/>\n            </div>\n            <div class=\"col-xs-6\">\n                <div class='input-group form-inline' >\n                    <select class=\"form-control\" id=\"hourFrom\" name=\"hoursFrom\" onchange=\"getDbData()\">\n                        <option value=\"00\" selected>00</option>\n                        <option value=\"01\">01</option>\n                        <option value=\"02\">02</option>\n                        <option value=\"03\">03</option>\n                        <option value=\"04\">04</option>\n                        <option value=\"05\">05</option>\n                        <option value=\"06\">06</option>\n                        <option value=\"07\">07</option>\n                        <option value=\"08\">08</option>\n                        <option value=\"09\">09</option>\n                        <option value=\"10\">10</option>\n                        <option value=\"11\">11</option>\n                        <option value=\"12\" selected>12</option>\n                        <option value=\"13\">13</option>\n                        <option value=\"14\">14</option>\n                        <option value=\"15\">15</option>\n                        <option value=\"16\">16</option>\n                        <option value=\"17\">17</option>\n                        <option value=\"18\">18</option>\n                        <option value=\"19\">19</option>\n                        <option value=\"20\">20</option>\n                        <option value=\"21\">21</option>\n                        <option value=\"22\">22</option>\n                        <option value=\"23\">23</option>\n                    </select>\n                    <span class=\"input-group-addon\" id=\"addOn\"><b>:</b></span>\n                    <select class=\"form-control\" id=\"minutes\" name=\"minsFrom\" onchange=\"getDbData()\">\n                        <option value=\"00\">00</option>\n                        <option value=\"15\">15</option>\n                        <option value=\"30\">30</option>\n                        <option value=\"45\">45</option>\n                    </select>\n                </div>\n                \n            </div>\n        </div>\n        <div class=\"row\" id=\"timeDateInput\"  style=\"display:none;\">\n            <div class=\"col-xs-6\">\n                <input type='date' class='form-control'  id='dateMoveInputTo' name='dateInputTo'  onchange=\"getDbData()\"/>          \n            </div>\n            <div class=\"col-xs-6\">\n                <div class='input-group form-inline'>\n                    <select class=\"form-control\" id=\"hourTo\" name=\"hoursTo\" onchange=\"getDbData()\">\n                        <option value=\"00\">00</option>\n                        <option value=\"01\">01</option>\n                        <option value=\"02\">02</option>\n                        <option value=\"03\">03</option>\n                        <option value=\"04\">04</option>\n                        <option value=\"05\">05</option>\n                        <option value=\"06\">06</option>\n                        <option value=\"07\">07</option>\n                        <option value=\"08\">08</option>\n                        <option value=\"09\">09</option>\n                        <option value=\"10\">10</option>\n                        <option value=\"11\">11</option>\n                        <option value=\"12\" selected>12</option>\n                        <option value=\"13\">13</option>\n                        <option value=\"14\">14</option>\n                        <option value=\"15\">15</option>\n                        <option value=\"16\">16</option>\n                        <option value=\"17\">17</option>\n                        <option value=\"18\">18</option>\n                        <option value=\"19\">19</option>\n                        <option value=\"20\">20</option>\n                        <option value=\"21\">21</option>\n                        <option value=\"22\">22</option>\n                        <option value=\"23\">23</option>\n                    </select> \n                    <span class=\"input-group-addon\" id=\"addOn\"><b>:</b></span>\n                    <select class=\"form-control\" id=\"minutesTo\" name=\"minsTo\" onchange=\"getDbData()\">\n                        <option value=\"00\">00</option>\n                        <option value=\"15\">15</option>\n                        <option value=\"30\">30</option>\n                        <option value=\"45\">45</option>\n                    </select>\n                </div>\n                \n            </div>\n\n        </div>\n        <!--\n        <div>\n            <div>Total Toilet Users: <b id=\"toiletsUsed1\"></b></div><br>\n            <div>Percentage Washed Hands: <b id=\"percentWashed\"></b></div><br>\n            <div><b id=\"handWashed\"></b> out of <b id=\"toiletsUsed2\"></b> users washed their hands</div><br>\n            <div>Average hand washing time: <b id=\"avgWashTime\"></b></div>\n        </div>-->\n        <br>\n        <div class=\"row\">   \n            <div class=\"col-xs-12 col-sm-12 col-md-12\" id=\"tile5\">\n                <div id=\"tileText5\">\n                    <i id=\"iconExclamation\" class=\"fa fa-3x fa-exclamation-triangle\" aria-hidden=\"true\" style=\"vertical-align:middle\"></i>\n                    &nbsp;&nbsp; Today\n                    <i id=\"data\"><b id=\"notWashed\" style=\"vertical-align:middle\">100</b></i>\n                    &nbsp;User(s) failed to Wash their Hands\n                </div>                           \n            </div>\n    \n        </div>\n       \n          <div class=\"row\">   \n            <div class=\"col-xs-12 col-sm-6 col-md-3\" id=\"tile1\">\n                <div id=\"tileText\">\n                    <i class=\"fa fa-4x fa-users\" aria-hidden=\"true\"></i><br><br>\n                    Total Toilet Users: <i id=\"data\"><b id=\"toiletsUsed1\" style=\"vertical-align:middle\"></b></i>\n                </div>                           \n            </div>\n     \n            <div class=\"col-xs-12 col-sm-6 col-md-3\" id=\"tile2\">\n                <div id=\"tileText\">\n                    <!--<i class=\"fa fa-5x fa-smile-o\" aria-hidden=\"true\"></i><br><br>-->\n                    <div id=\"emojiSection\"><i class=\"em em-poop\" id=\"emoji\"></i></div><br>\n                    <i id=\"data\"><b id=\"percentWashed\" style=\"vertical-align:middle\"></b></i> Washed their Hands\n                </div>\n            </div>\n      \n            <div class=\"col-xs-12 col-sm-6 col-md-3\" id=\"tile3\">\n                <div id=\"tileText\">\n                    <i class=\"fa fa-4x fa-sign-language\" aria-hidden=\"true\"></i><br><br>\n                        <i id=\"data\"><b id=\"handWashed\" style=\"vertical-align:middle\"></b></i> out of <i id=\"data\"><b id=\"toiletsUsed2\" style=\"vertical-align:middle\"></b></i> users Washed their Hands\n                </div>\n            </div>\n\n            <div class=\"col-xs-12 col-sm-6 col-md-3\" id=\"tile4\">\n                <div id=\"tileText\">\n                    <i class=\"fa fa-4x fa-clock-o\" aria-hidden=\"true\"></i><br><br>\n                        Average Hand Washing Time: <i id=\"data\"><b id=\"avgWashTime\" style=\"vertical-align:middle\"></b></i> seconds\n                </div>  \n            </div>\n        </div>\n        <div class=\"row\">   \n            <div class=\"col-xs-12 col-sm-6 col-md-6\" id=\"tile7\">\n                <div id=\"tileText5\">\n                    Yesterday\n                    <i id=\"data\"><b id=\"yesterdayToiletUsers\" style=\"vertical-align:middle\"></b></i> Washed their Hands\n                </div>                           \n            </div>\n            <div class=\"col-xs-12 col-sm-6 col-md-6\" id=\"tile7\">\n                <div id=\"tileText5\">\n                    Yesterday\n                    <i id=\"data\"><b id=\"yesterdayNotWashed\" style=\"vertical-align:middle\"></b></i> User(s) failed to Wash their Hands\n                </div>                           \n            </div>\n        </div>\n        <div class=\"row\">   \n            <div class=\"col-xs-12 col-sm-12 col-md-12\" id=\"tile6\">\n                <div id=\"tileText5\">\n                    Did you know?<br>\n                    &nbsp;&nbsp;\n                    <b><i id=\"facts\"></i></b>\n                </div>                           \n            </div>\n    \n        </div>\n        <!--\n        <i class=\"em em-mask\" id=\"emoji\"></i>\n        <i class=\"em em-smiley\" id=\"emoji\"></i>\n        <i class=\"em em-worried\" id=\"emoji\"></i>\n        <i class=\"em em-open_mouth\" id=\"emoji\"></i>\n        <i class=\"em em-cold_sweat\" id=\"emoji\"></i>\n        <i class=\"em em-grin\" id=\"emoji\"></i>\n        <i class=\"em em---1\" id=\"emoji\"></i>\n        <i class=\"em em--1\" id=\"emoji\"></i>\n        <i class=\"em em-cry\" id=\"emoji\"></i>\n        -->\n        <script>\n            /*setInterval(function () {\n            var icon = $(\"#iconExclamation\");\n\n            if (icon.css(\"color\") == 'rgb(255, 255, 255)') {\n            icon.css(\"color\", \"#ffbb33\");\n\n            }\n            else {\n            icon.css(\"color\", \"white\");\n            }\n\n            }, 1500);\n            */\n\n            var indexPosition = 0;\n            setInterval(function () {\n                var maxIndex = 8;\n\n                displayFacts(indexPosition);\n                indexPosition++;\n                if (indexPosition >= 8) {\n                    indexPosition = 0;\n                }\n\n            }, 7500);\n            $(document).ready(function () {\n                displayFacts(0);\n                setDefaultDate();\n                yesterdayData();\n                setInterval(function () {\n                    setDefaultDate();\n                }, 2000);\n            });\n            function displayFacts(index) {\n                var facts = [\"Touching the face with contaminated hands spreads illnesses like pneumonia, the cold, and the flu. Proper handwashing can reduce respiratory infections by close to 20%.\",\n                \"Less than 75% of women and less than 50% of men wash their hands after going to the bathroom\",\n                \"Every time a toilet is flushed with the lid up, a fine mist containing bacteria such as E. Coli and Staph is spread over an area of 6 square meters. The area around sinks in public bathrooms is 90% covered in such bacteria.\",\n                \"For every 15 seconds spent washing hands, 10 times more bacteria is removed.\",\n                \"30 seconds of using hand sanitizer kills as much bacteria as 2 full minutes of handwashing\",\n                \"Damp hands are 1,000x more likely to spread bacteria than dry hands. \",\n                \"Only 20% of people dry their hands after washing\",\n                \"A study of Detroit school children showed that those who washed their hands had 24% fewer sick days due to respiratory illness and 51% fewer sick days due to upset stomach\"];\n\n                document.getElementById('facts').innerHTML = facts[index];\n            }\n\n            function setDefaultDate() {\n                var currentDate = new Date();\n                var tommorowsDate = currentDate.getDate() + 1;\n                currentDate.setDate(tommorowsDate);\n                var newFormatDate = formatDate(currentDate);\n                console.log(currentDate + \" Tommorows Date: \" + tommorowsDate);\n                document.getElementsByName(\"dateInputTo\")[0].value = newFormatDate;\n                $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/getLowestStoredDate\", function (result) {\n                    console.log(result);\n                    if (result.length != 0) {\n                        console.log(result.DATETIME);\n                        var lowestStoredDate = parseInt(result.DATETIME);\n                        newFormatDate = formatDate(lowestStoredDate);\n                        document.getElementsByName(\"dateInputFrom\")[0].value = newFormatDate;\n                        getDbData();\n                    }\n                    else {\n                        var calcWashHandsData = calculateWashedHands(result);\n                        outputDataToPage(calcWashHandsData);\n                    }\n                });\n            }\n            function getDbData() {\n                var fromToDatesInput = getDate();\n                console.log(fromToDatesInput);\n                if (fromToDatesInput != 0) {\n                    getLowestSensorActiveDates(fromToDatesInput[0], fromToDatesInput[1]);\n                    //console.log(firstLastActiveDates);\n\n                }\n            }\n            function getLowestSensorActiveDates(dateFrom, dateTo) {\n                var firstActiveToilet, lastActiveWashBasin;\n                var ajaxParams = \"&dateFrom=\" + dateFrom + \"&dateTo=\" + dateTo;\n                $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/sensorActiveDate?dateType=firstActivated\" + ajaxParams, function (result) {\n                    console.log(result);\n                    if (result.length != 0) {\n                        firstActiveToilet = parseInt(result.DATETIME);\n                        console.log(result.DATETIME);\n                        $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/sensorActiveDate?dateType=lastActivated\" + ajaxParams, function (result) {\n                            console.log(result);\n                            if (result.length != 0) {\n                                lastActiveWashBasin = parseInt(result.DATETIME);\n                                console.log(result.DATETIME);\n                                $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/getDateSearch?dateFrom=\" + firstActiveToilet + \"&dateTo=\" + lastActiveWashBasin, function (result) {\n                                    console.log(result);\n                                    //console.log(result[0].DEVICETYPE);\n                                    //console.log(result[0].TOTAL);\n                                    var calcWashHandsData = calculateWashedHands(result);\n                                    console.log(calcWashHandsData);\n                                    outputDataToPage(calcWashHandsData);\n                                });\n                            }\n                            else {\n                                var calcWashHandsData = calculateWashedHands(result);\n                                outputDataToPage(calcWashHandsData);\n                            }\n                        });\n                    }\n                    else {\n                        var calcWashHandsData = calculateWashedHands(result);\n                        outputDataToPage(calcWashHandsData);\n                    }\n                });\n                //return [firstActiveToilet, lastActiveWashBasin];\n            }\n            function outputDataToPage(washedHandsData) {\n                document.getElementById('toiletsUsed1').innerHTML = washedHandsData[0];\n                document.getElementById('toiletsUsed2').innerHTML = washedHandsData[0];\n                var percentage = Math.round((washedHandsData[2] / washedHandsData[0]) * 100);\n                if (washedHandsData[0] == 0 || washedHandsData[2] == 0) {\n                    percentage = 0;\n                }\n                document.getElementById('percentWashed').innerHTML = percentage + \"%\";\n                document.getElementById('handWashed').innerHTML = washedHandsData[2];\n                document.getElementById('avgWashTime').innerHTML = Math.round(washedHandsData[3]);\n                document.getElementById('notWashed').innerHTML = washedHandsData[0] - washedHandsData[2];\n                document.getElementById('tile2').style.backgroundColor = numberToColorHsl(percentage);\n                document.getElementById('tile3').style.backgroundColor = numberToColorHsl(percentage);\n                outputEmoji(percentage);\n            }\n            function calculateWashedHands(dbData) {\n                var length = dbData.length;\n                console.log(\"Length: \" + length);\n                var toiletsUsed = 0;\n                var washBasinUsed = 0;\n                var washedHands = 0;\n                var avgHandsWashedTime = \"N/A\";\n                if (length == 2) {\n                    if (dbData[0].DEVICETYPE == \"washBasin\") {\n                        washBasinUsed = dbData[0].TOTAL;\n                        toiletsUsed = dbData[1].TOTAL;\n                        avgHandsWashedTime = dbData[0].AVERAGE;\n                    }\n                    else {\n                        toiletsUsed = dbData[0].TOTAL;\n                        washBasinUsed = dbData[1].TOTAL;\n                        avgHandsWashedTime = dbData[1].AVERAGE;\n                    }\n                }\n                else if (length == 1) {\n                    if (dbData[0].DEVICETYPE == \"washBasin\") {\n                        washBasinUsed = dbData[0].TOTAL;\n                        avgHandsWashedTime = dbData[0].AVERAGE;\n                    }\n                    else {\n                        toiletsUsed = dbData[0].TOTAL;\n                    }\n                }\n                washBasinUsed = parseInt(washBasinUsed);\n                toiletsUsed = parseInt(toiletsUsed);\n                console.log(\"WashBasinUsed: \" + washBasinUsed + \" toiletUsed: \" + toiletsUsed);\n                if (toiletsUsed >= washBasinUsed) {\n                    washedHands = washBasinUsed;\n                    console.log(\"1: Washed: \" + washedHands);\n                }\n                else if (toiletsUsed < washBasinUsed) {\n                    washedHands = toiletsUsed;\n                    console.log(\"2: Washed: \" + washedHands);\n                }\n                return [toiletsUsed, washBasinUsed, washedHands, avgHandsWashedTime];\n            }\n            function getDate() {\n                var dateFrom = document.getElementsByName(\"dateInputFrom\")[0].value;\n                var dateTo = document.getElementsByName(\"dateInputTo\")[0].value;\n                var hoursFrom = document.getElementsByName(\"hoursFrom\")[0].value;\n                var hoursTo = document.getElementsByName(\"hoursTo\")[0].value;\n                var minsFrom = document.getElementsByName(\"minsFrom\")[0].value;\n                var minsTo = document.getElementsByName(\"minsTo\")[0].value;\n\n                if (dateFrom != \"\" && dateTo != \"\" && dateFrom != null && dateTo != null) {\n                    var dateFromTime = hoursFrom + \":\" + minsFrom + \":00Z\";\n                    var dateToTime = hoursTo + \":\" + minsTo + \":00Z\";\n\n                    var dateFromFormatted = formatDate(dateFrom);\n                    var dateToFormatted = formatDate(dateTo);\n                    var newDateFrom = new Date(dateFromFormatted + \"T\" + dateFromTime);\n                    var newDateTo = new Date(dateToFormatted + \"T\" + dateToTime);\n                    console.log(\"DateFrom: \" + newDateFrom + \" DateTo: \" + newDateTo);\n                    var dateFromMilli = newDateFrom.valueOf();\n                    var dateToMilli = newDateTo.valueOf();\n                    console.log(\"DateFrom: \" + dateFromMilli + \" DateTo: \" + dateToMilli);\n                    return [dateFromMilli, dateToMilli];\n                }\n                else {\n                    return 0;\n                }\n            }\n            \n                        function yesterdayData() {\n                var yesterdayDate = new Date();\n                yesterdayDate.setDate(yesterdayDate.getDate() - 1);\n\n                var currentDate = new Date();\n\n                var dd = currentDate.getDate();\n                var mm = currentDate.getMonth() + 1; //January is 0!\n                var yyyy = currentDate.getFullYear();\n\n                if (dd < 10) {\n                    dd = '0' + dd\n                }\n\n                if (mm < 10) {\n                    mm = '0' + mm\n                }\n\n                currentDate = yyyy + '/' + mm + '/' + dd;\n                currentDate = new Date(currentDate);\n\n                getLowestSensorActiveDatesYesterday(yesterdayDate.valueOf(), currentDate.valueOf());\n            }\n\n            function getLowestSensorActiveDatesYesterday(dateFrom, dateTo) {\n                var firstActiveToilet, lastActiveWashBasin;\n                var ajaxParams = \"&dateFrom=\" + dateFrom + \"&dateTo=\" + dateTo;\n                $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/sensorActiveDate?dateType=firstActivated\" + ajaxParams, function (result) {\n                    console.log(result);\n                    if (result.length != 0) {\n                        firstActiveToilet = parseInt(result.DATETIME);\n                        console.log(result.DATETIME);\n                        $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/sensorActiveDate?dateType=lastActivated\" + ajaxParams, function (result) {\n                            console.log(result);\n                            if (result.length != 0) {\n                                lastActiveWashBasin = parseInt(result.DATETIME);\n                                console.log(result.DATETIME);\n                                $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/getDateSearch?dateFrom=\" + firstActiveToilet + \"&dateTo=\" + lastActiveWashBasin, function (result) {\n                                    console.log(result);\n                                    //console.log(result[0].DEVICETYPE);\n                                    //console.log(result[0].TOTAL);\n                                    var calcWashHandsData = calculateWashedHands(result);\n                                    console.log(calcWashHandsData);\n                                    outputYesterdayDataToPage(calcWashHandsData);\n                                });\n                            }\n                            else {\n                                var calcWashHandsData = calculateWashedHands(result);\n                                outputYesterdayDataToPage(calcWashHandsData);\n                            }\n                        });\n                    }\n                    else {\n                        var calcWashHandsData = calculateWashedHands(result);\n                        outputYesterdayDataToPage(calcWashHandsData);\n                    }\n                });\n            }\n            function outputYesterdayDataToPage(washedHandsData) {\n\n                var percentage = Math.round((washedHandsData[2] / washedHandsData[0]) * 100);\n                if (washedHandsData[0] == 0 || washedHandsData[2] == 0) {\n                    percentage = 0;\n                }\n                document.getElementById('yesterdayToiletUsers').innerHTML = percentage + \"%\";\n                //document.getElementById('tile7').style.backgroundColor = numberToColorHsl(percentage);\n                document.getElementById('yesterdayNotWashed').innerHTML = washedHandsData[0] - washedHandsData[2];\n\n            }\n            function formatDate(date) {\n                date = new Date(date);\n                var day = date.getDate();\n                var month = date.getMonth() + 1; //January is 0!\n                var year = date.getFullYear();\n                if (day < 10) {\n                    day = '0' + day\n                }\n                if (month < 10) {\n                    month = '0' + month\n                }\n                var dateFormatted = year + '-' + month + '-' + day;\n                console.log(\"FormattedDate() : \" + dateFormatted);\n                return dateFormatted;\n            }\n            //http://jsfiddle.net/rE6Rk/1/\n            //http://stackoverflow.com/questions/17525215/calculate-color-values-from-green-to-red   \n            function hslToRgb(h, s, l) {\n                var r, g, b;\n                if (s == 0) {\n                    r = g = b = l; // achromatic\n                } else {\n                    function hue2rgb(p, q, t) {\n                        if (t < 0) t += 1;\n                        if (t > 1) t -= 1;\n                        if (t < 1 / 6) return p + (q - p) * 6 * t;\n                        if (t < 1 / 2) return q;\n                        if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;\n                        return p;\n                    }\n                    var q = l < 0.5 ? l * (1 + s) : l + s - l * s;\n                    var p = 2 * l - q;\n                    r = hue2rgb(p, q, h + 1 / 3);\n                    g = hue2rgb(p, q, h);\n                    b = hue2rgb(p, q, h - 1 / 3);\n                }\n                return [Math.floor(r * 255), Math.floor(g * 255), Math.floor(b * 255)];\n            }\n            function numberToColorHsl(i) {\n                // as the function expects a value between 0 and 1, and red = 0° and green = 120°\n                // we convert the input to the appropriate hue value\n                var hue = i * 1.2 / 360;\n                // we convert hsl to rgb (saturation 100%, lightness 50%)\n                var rgb = hslToRgb(hue, 1, .5);\n                // we format to css value and return\n                return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')';\n            }\n            function outputEmoji(percentage) {\n                var emoji = \"\";\n                if (percentage == 100) {\n                    emoji = '<i class=\"em em---1\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 90 && percentage < 100) {\n                    emoji = '<i class=\"em em-blush\"></i>';\n                }\n                else if (percentage >= 80 && percentage < 90) {\n                    emoji = '<i class=\"em em-open_mouth\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 70 && percentage < 80) {\n                    emoji = '<i class=\"em em-worried\" id=\"emoji\">';\n                }\n                else if (percentage >= 60 && percentage < 70) {\n                    emoji = '<i class=\"em em-grin\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 50 && percentage < 60) {\n                    emoji = '<i class=\"em em--1\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 40 && percentage < 50) {\n                    emoji = '<i class=\"em em-astonished\"></i>';\n                }\n                else if (percentage >= 30 && percentage < 40) {\n                    emoji = '<i class=\"em em-cry\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 20 && percentage < 30) {\n                    emoji = '<i class=\"em em-cold_sweat\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 10 && percentage < 20) {\n                    emoji = '<i class=\"em em-mask\" id=\"emoji\"></i>';\n                }\n                else if (percentage >= 0 && percentage < 10) {\n                    emoji = '<i class=\"em em-poop\" id=\"emoji\"></i>';\n                }\n\n                document.getElementById('emojiSection').innerHTML = emoji;\n            }\n\n\n        </script>\n    </body>\n</html>","x":355,"y":36,"wires":[["deb4c870.821e58"]]},{"id":"deb4c870.821e58","type":"http response","z":"ea55f4d.42f9408","name":"","x":551,"y":36,"wires":[]},{"id":"cafe8775.0f3c28","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/getDateSearch","method":"get","swaggerDoc":"","x":106,"y":106,"wires":[["b8b66535.3e5b98","5c8c39aa.fbf5d8"]]},{"id":"b8b66535.3e5b98","type":"function","z":"ea55f4d.42f9408","name":"defineSQLquery","func":"/*msg.payload = \"SELECT deviceName, dateTime, activeState \" + \n              \" FROM dash5108.ucl_iot\" + \n              \" WHERE dateTime >= '\"+ msg.payload.dateFrom + \"'\" + \n              \" AND dateTime <= '\"+ msg.payload.dateTo + \"'\" +\n              \" ORDER BY dateTime ASC\";\n*/\n\nmsg.payload = \"SELECT deviceType, COUNT(DEVICENAME) AS total, AVG(activeState) AS average\" +\n             \" FROM dash5108.ucl_iot_db_final \" + \n             \" WHERE dateTime >= '\"+ msg.payload.dateFrom + \"'\" + \n             \" AND dateTime <= '\"+ msg.payload.dateTo + \"'\" +\n             \" GROUP BY DEVICETYPE\";\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":110,"wires":[["bf72743a.483528"]]},{"id":"bf72743a.483528","type":"dashDB in","z":"ea55f4d.42f9408","dashDB":"94d98d3e.51905","service":"_ext_","query":"","params":"","name":"","x":595,"y":109,"wires":[["6a6a21ac.41916","f7bf7364.18081"]]},{"id":"f7bf7364.18081","type":"http response","z":"ea55f4d.42f9408","name":"","x":768,"y":108,"wires":[]},{"id":"6a6a21ac.41916","type":"debug","z":"ea55f4d.42f9408","name":"dataSearchOutput","active":true,"console":"false","complete":"payload","x":810,"y":178,"wires":[]},{"id":"5c8c39aa.fbf5d8","type":"debug","z":"ea55f4d.42f9408","name":"dataSearch","active":true,"console":"false","complete":"payload","x":361,"y":188,"wires":[]},{"id":"13fc3657.b1914a","type":"function","z":"ea55f4d.42f9408","name":"defineSQLquery","func":"msg.payload = \"SELECT dateTime \" + \n              \" FROM dash5108.ucl_iot_db_final\" + \n            \" ORDER BY dateTime ASC LIMIT 1\";\n//dash5108.ucl_iot\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":260,"wires":[["dac7ab2d.c0b668"]]},{"id":"594ed004.d6e7f","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/getLowestStoredDate","method":"get","swaggerDoc":"","x":126,"y":259,"wires":[["13fc3657.b1914a"]]},{"id":"dac7ab2d.c0b668","type":"dashDB in","z":"ea55f4d.42f9408","dashDB":"94d98d3e.51905","service":"_ext_","query":"","params":"","name":"","x":623,"y":259,"wires":[["a2f9206d.6e065","c0c08017.60063"]]},{"id":"a2f9206d.6e065","type":"debug","z":"ea55f4d.42f9408","name":"lowestStoredOutput","active":true,"console":"false","complete":"payload","x":713,"y":344,"wires":[]},{"id":"c0c08017.60063","type":"http response","z":"ea55f4d.42f9408","name":"","x":808,"y":258,"wires":[]},{"id":"4eb895e3.bdeb7c","type":"function","z":"ea55f4d.42f9408","name":"defineSQLquery","func":"var dateRetrievalType = msg.payload.dateType;\n//firstActivated or lastActivated\nvar deviceType = \"\";\nvar sort = 'ASC';\nvar SQLcondition = \"\";\nif(dateRetrievalType == \"firstActivated\"){\n    deviceType = 'toilet';\n    sort = 'ASC';\n    SQLcondition = \" AND deviceType = '\"+ deviceType + \"'\";\n\n}\nelse if (dateRetrievalType == \"lastActivated\"){\n    deviceType = 'washBasin';\n    sort = 'DESC';\n    SQLcondition = \"\";\n    //deviceType = 'toilet';\n\n}\n//              \" AND deviceType = '\"+ deviceType + \"'\" +\n\nmsg.payload = \"SELECT dateTime \" + \n              \" FROM dash5108.ucl_iot_db_final\" + \n              \" WHERE dateTime >= '\"+ msg.payload.dateFrom + \"'\" + \n              \" AND dateTime <= '\"+ msg.payload.dateTo + \"'\" +\n               SQLcondition +              \n              \" ORDER BY dateTime \"+ sort +\" LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":403,"wires":[["b451f1c2.bdd97","5e927fdb.2f85"]]},{"id":"58b1237e.a7259c","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/sensorActiveDate","method":"get","swaggerDoc":"","x":106,"y":404,"wires":[["4eb895e3.bdeb7c"]]},{"id":"b451f1c2.bdd97","type":"dashDB in","z":"ea55f4d.42f9408","dashDB":"94d98d3e.51905","service":"_ext_","query":"","params":"","name":"","x":540,"y":403,"wires":[["8fbae995.83c978","b0aee117.fc1cd"]]},{"id":"8fbae995.83c978","type":"debug","z":"ea55f4d.42f9408","name":"sensorActiveDate","active":true,"console":"false","complete":"payload","x":793,"y":468,"wires":[]},{"id":"b0aee117.fc1cd","type":"http response","z":"ea55f4d.42f9408","name":"","x":747,"y":401,"wires":[]},{"id":"5e927fdb.2f85","type":"debug","z":"ea55f4d.42f9408","name":"sensorQueryCheck","active":true,"console":"false","complete":"payload","x":545,"y":467,"wires":[]},{"id":"807976f9.acfae8","type":"function","z":"ea55f4d.42f9408","name":"formatPiData","func":"/*var dataRecieved = {\"data\": [\n      2,\n      [2],\n      \"24-03-2017 08:53:18\",\n      \"24-03-2017 08:53:34\",\n      \"24-03-2017 08:53:51\",\n      \"24-03-2017 08:54:59\",\n      \"24-03-2017 12:35:22\",\n      \"23-03-2017 11:38:22\",\n      \"23-03-2017 11:38:22\",\n      \"23-03-2017 11:38:22\",\n      \"23-03-2017 11:38:22\"\n    ],\n    \"id\": 1};*/\nvar dataRecieved = msg.payload;\nvar formatedDataArray = [];\nvar deviceName = dataRecieved.data[0];\nvar size = dataRecieved.data[1][0];\n\nif (deviceName == 2){\n     for (var i = 0; i < (size*2); i+= 2){\n        var deviceType = \"washBasin\";\n        var startDate = new Date(dataRecieved.data[i+2].replace( /(\\d{2})-(\\d{2})-(\\d{4})/, \"$2/$1/$3\") );\n        var endDate = new Date(dataRecieved.data[i+3].replace( /(\\d{2})-(\\d{2})-(\\d{4})/, \"$2/$1/$3\") );\n\n        var activeState = (endDate.getTime() - startDate.getTime()) / 1000;\n        var msgDocObject = {\"deviceName\": dataRecieved.data[0],\n                            \"deviceType\": deviceType,\n                            \"dateTime\": startDate.valueOf(),\n                            \"activeState\": activeState\n        };\n        formatedDataArray.push(msgDocObject);\n    }\n        \n}\nelse if (deviceName == 1){\n    for (var i = 0; i < size; i++){\n        var deviceType = \"toilet\";\n        var date = new Date(dataRecieved.data[i+2].replace( /(\\d{2})-(\\d{2})-(\\d{4})/, \"$2/$1/$3\") );\n    \n        var msgDocObject = {\"deviceName\": dataRecieved.data[0],\n                            \"deviceType\": deviceType,\n                            \"dateTime\": date.valueOf(),\n                            \"activeState\": 0\n        };\n        formatedDataArray.push(msgDocObject);\n    }\n}\n    \n\nmsg.payload = {\n  \"docs\": formatedDataArray\n}\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":529,"wires":[["3a3b1df1.e99412","370f74fd.781e4c"]]},{"id":"3a3b1df1.e99412","type":"debug","z":"ea55f4d.42f9408","name":"","active":true,"console":"false","complete":"payload","x":699,"y":530,"wires":[]},{"id":"370f74fd.781e4c","type":"http request","z":"ea55f4d.42f9408","name":"Bulk add to Cloudant","method":"POST","ret":"txt","url":"https://owillappetyringstruthere:2e713bd48b87630b260a057b5700161aecd33aa9@e6e24e90-3ca4-425a-b686-c7da1005e96a-bluemix.cloudant.com/ucl_iot_db_final/_bulk_docs","tls":"","x":725,"y":583,"wires":[[]]},{"id":"e4f2b757.877128","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/outputAllData","method":"get","swaggerDoc":"","x":101,"y":697,"wires":[["bdb78c64.02c66","c1cccdaa.49dbb"]]},{"id":"bdb78c64.02c66","type":"function","z":"ea55f4d.42f9408","name":"defineSQLquery","func":"/*msg.payload = \"SELECT deviceName, dateTime, activeState \" + \n              \" FROM dash5108.ucl_iot\" + \n              \" WHERE dateTime >= '\"+ msg.payload.dateFrom + \"'\" + \n              \" AND dateTime <= '\"+ msg.payload.dateTo + \"'\" +\n              \" ORDER BY dateTime ASC\";\n*/\n\nmsg.payload = \"SELECT * \" +\n             \" FROM dash5108.ucl_iot_db_final \" + \n             \" ORDER BY DATETIME DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":697,"wires":[["590a9d07.186734"]]},{"id":"590a9d07.186734","type":"dashDB in","z":"ea55f4d.42f9408","dashDB":"94d98d3e.51905","service":"_ext_","query":"","params":"","name":"","x":595,"y":696,"wires":[["d8ba3955.20e9a8","69185a5.3a46fa4"]]},{"id":"69185a5.3a46fa4","type":"http response","z":"ea55f4d.42f9408","name":"","x":768,"y":695,"wires":[]},{"id":"d8ba3955.20e9a8","type":"debug","z":"ea55f4d.42f9408","name":"allDataOutput","active":false,"console":"false","complete":"payload","x":800,"y":765,"wires":[]},{"id":"c1cccdaa.49dbb","type":"debug","z":"ea55f4d.42f9408","name":"allData","active":false,"console":"false","complete":"payload","x":351,"y":775,"wires":[]},{"id":"5b596116.0bb7","type":"ibmiot in","z":"ea55f4d.42f9408","authentication":"apiKey","apiKey":"40af2cd4.821a14","inputType":"evt","deviceId":"b827eb98710e","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":65,"y":528,"wires":[["807976f9.acfae8"]]},{"id":"ec12e9da.71edc8","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/table","method":"get","swaggerDoc":"","x":76,"y":624,"wires":[["a24ba220.0345f"]]},{"id":"a24ba220.0345f","type":"template","z":"ea55f4d.42f9408","name":"format table page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\"> \n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>IoT DB - Data</title>\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n\n    <!-- jQuery library -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n\n    <!-- Latest compiled JavaScript -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <script src=\"https://use.fontawesome.com/ab76c11397.js\"></script>\n    <link href=\"https://afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n\n\n    <style>\n    </style>\n  </head>\n    <body>\n        <div class=\"container\">         \n          <table class=\"table table-hover\">\n            <thead>\n              <tr>\n                <th>#</th>\n                <th>DeviceID</th>\n                <th>DeviceType</th>\n                <th>DateTime</th>\n                <th>ActiveState</th>\n              </tr>\n            </thead>\n            <tbody id=\"dataRows\">\n\n            </tbody>\n          </table>\n        </div>\n        <script>\n            var dateTimeID = '0000000000000';\n            var dataLengthID = 0;\n\n            $(document).ready(function () {\n                displayAllData();\n\n\n                setInterval(function () {\n                    if (dataLengthID != 0) {\n                        //displayNewData();\n                        displayAllData();\n                    }\n                }, 4000);\n\n            });\n\n\n            function displayAllData() {\n                $.get(\"https://ucl-iot-project.eu-gb.mybluemix.net/outputAllData\", function (result) {\n                    console.log(result);\n                    outputDataToPage(result);\n                });\n            }\n\n            function outputDataToPage(data) {\n                var dataSize = data.length;\n                dataLengthID = dataSize;\n                var tableRowHTML = \"\";\n\n                for (var i = 0; i < dataSize; i++) {\n                    if (i == 0) {\n                        dateTimeID = data[0].DATETIME;\n                    }\n                    var activeState = data[i].ACTIVESTATE;\n                    if (data[i].DEVICETYPE == \"toilet\") {\n                        activeState = \"N/A\";\n                    }\n                    tableRowHTML = tableRowHTML + \"<tr><td>\" + (dataSize - (i)) + \"</td><td>\" + data[i].DEVICENAME + \"</td><td>\" + data[i].DEVICETYPE + \"</td><td>\" + data[i].DATETIME + \"</td><td>\" + activeState + \"</td></tr>\";\n                }\n\n                document.getElementById('dataRows').innerHTML = tableRowHTML;\n            }\n\n            function displayNewData() {\n                console.log(\"dateTimeID() : \" + dateTimeID);\n                //var searchString = $(\"#searchProfileBlogs\").val();\n                var dataTime = 'dateFrom=' + dateTimeID.toString();\n\n                // ajax call\n                $.ajax({\n                    type: \"GET\",\n                    url: \"https://ucl-iot-project.eu-gb.mybluemix.net/newData?\" + dataTime,\n                    beforeSend: function (html) { // this happens before actual call\n                        var currentDateTime = new Date();\n                        var newDataTimeID = currentDateTime.valueOf();\n\n                        if (dateTimeID < newDataTimeID) {\n                            //dateTimeID = currentDateTime.valueOf();\n                        }\n\n                    },\n                    success: function (data) {\n                        console.log(data);\n                        var dataSize = data.length;\n                        console.log(\"Size: \" + dataSize);\n                        if (dataSize != 0) {\n                            if (dataSize != undefined) {\n                                dateTimeID = data[0].DATETIME;\n                            }\n                        }\n\n                        var tableRowHTML = \"\";\n                        var allDataSize = dataSize + dataLengthID; //Old and New Data Length\n                        var tableFormed = false;\n                        for (var i = 0; i < dataSize; i++) {\n                            console.log(\"For Loop()\");\n                            dataLengthID++;\n                            tableFormed = true;\n                            var activeState = data[i].ACTIVESTATE;\n                            if (data[i].DEVICETYPE == \"toilet\") {\n                                activeState = \"N/A\";\n                            }\n                            tableRowHTML = tableRowHTML + \"<tr><td>\" + (allDataSize - i) + \"</td><td>\" + data[i].DEVICENAME + \"</td><td>\" + data[i].DEVICETYPE + \"</td><td>\" + data[i].DATETIME + \"</td><td>\" + activeState + \"</td></tr>\";\n                        }\n\n                        if ((data.DEVICETYPE == \"toilet\" || data.DEVICETYPE == \"washBasin\") && tableFormed == false && dataSize == undefined) {\n                            allDataSize = dataLengthID++;\n                            dateTimeID = data.DATETIME;\n                            var activeState = data.ACTIVESTATE;\n                            if (data.DEVICETYPE == \"toilet\") {\n                                activeState = \"N/A\";\n                            }\n                            tableRowHTML = tableRowHTML + \"<tr><td>\" + (allDataSize + 1) + \"</td><td>\" + data.DEVICENAME + \"</td><td>\" + data.DEVICETYPE + \"</td><td>\" + data.DATETIME + \"</td><td>\" + activeState + \"</td></tr>\";\n\n                        }\n                        $(\"#dataRows\").prepend(tableRowHTML);\n                    }\n                });\n            }\n\n        </script>\n    </body>\n</html>","x":290,"y":624,"wires":[["ed8f6390.0b441"]]},{"id":"ed8f6390.0b441","type":"http response","z":"ea55f4d.42f9408","name":"","x":466,"y":625,"wires":[]},{"id":"bb4c8edd.e33f1","type":"debug","z":"ea55f4d.42f9408","name":"allDataOutput","active":true,"console":"false","complete":"payload","x":800,"y":941,"wires":[]},{"id":"fcffef9b.58686","type":"http response","z":"ea55f4d.42f9408","name":"","x":768,"y":871,"wires":[]},{"id":"f61e18a2.34c398","type":"dashDB in","z":"ea55f4d.42f9408","dashDB":"94d98d3e.51905","service":"_ext_","query":"","params":"","name":"","x":595,"y":872,"wires":[["bb4c8edd.e33f1","fcffef9b.58686"]]},{"id":"cba1db98.07af78","type":"function","z":"ea55f4d.42f9408","name":"defineSQLquery","func":"/*msg.payload = \"SELECT deviceName, dateTime, activeState \" + \n              \" FROM dash5108.ucl_iot\" + \n              \" WHERE dateTime >= '\"+ msg.payload.dateFrom + \"'\" + \n              \" AND dateTime <= '\"+ msg.payload.dateTo + \"'\" +\n              \" ORDER BY dateTime ASC\";\n*/\n\nmsg.payload = \"SELECT * \" +\n             \" FROM dash5108.ucl_iot_db_final \" + \n             \" WHERE dateTime > '\"+ msg.payload.dateFrom + \"'\" + \n             \" ORDER BY DATETIME DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":873,"wires":[["f61e18a2.34c398"]]},{"id":"b7406140.a0e2b","type":"http in","z":"ea55f4d.42f9408","name":"","url":"/newData","method":"get","swaggerDoc":"","x":91,"y":873,"wires":[["cba1db98.07af78","d3e3674e.5ed038"]]},{"id":"d3e3674e.5ed038","type":"debug","z":"ea55f4d.42f9408","name":"allData","active":false,"console":"false","complete":"payload","x":351,"y":951,"wires":[]},{"id":"94d98d3e.51905","type":"dashDB","z":"","hostname":"dashdb-entry-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"ucl_iot_sql_db"},{"id":"40af2cd4.821a14","type":"ibmiot","z":"","name":"iot","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false}]
